*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0 auto;
  color: #1b212b;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(255, 254, 251, 0.8);
}


img {
  max-width: 100%;
  height: auto;
}

// @media (min-width: 320px) {
// }

// @media (min-width: 768px) {
// }

// @media (min-width: 1600px) {
// }
